.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em 6em;
}

.team h2 {
    font-family: "Boogaloo", cursive;
    font-size: 40px;
    text-align: center;
}

.team h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-block-start: 0em;
    margin:0em 0em 3em 0em;
    font-weight: 400;
    font-style: italic;
}